.form-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 40px;
  color: #0d9ba3;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 500;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  color: #0d9ba3;
  margin-bottom: 15px;
}

.form-inputs {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1.5rem;
    padding: 1rem;
    border: 1px rgb(0, 0, 123);
}

input {
    height: 2rem;
    width: 30rem;
    border-radius: 11px;
    padding: 15px;
    font-family: 'Rubik';
    font-size: 15px;
    border: grey;
    transition: 0.3s;
    background-color: transparent;
    box-shadow: 0px 2px 6px grey;
    color: grey;
}

.form-group {
    width: 100%;
}

/* CSS */
.button-81 {
  background-color: #fff;
  border: 2px solid coral;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d9ba3;
  cursor: pointer;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  padding: 1.4rem 2rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: coral;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.4rem;
    padding: 1.4rem 2rem;
  }
}

button {
    margin: 5px;
}

.buttons {
  display: flex;
  margin-bottom: 20px;
}

#submit-btn {
  background-color: coral;
  color: white;
}

#submit-btn:hover{
  background-color: rgb(194, 100, 65);
  border: 2px solid rgb(194, 100, 65);
}