.user-account-page {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.vertical-tabs {
  min-height: 45rem;
  text-align: left;
  /* rgba(170, 170, 170, 0.855) */

  border-right: 1px solid #e67248;
}
.tab-headers {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  padding: 0 3.2rem;
}

.tab-header {
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.tab-header:hover,
.tab-header:active {
  color: #e67248;
}

.tab-content {
  width: 100%;
  padding-left: 5rem;
}

.tab-panel {
  display: none;
}

.tab-content--your-courses.active,
.tab-content--find-courses.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-end;
}
.course {
  text-align: left;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
  padding: 1.2rem 0;
}
.course:first-child {
  padding-top: 0;
}
.course:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.08);
  color: black;
}
.course-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.course-prof,
.course-attendance {
  color: #999;
  font-size: 1.6rem;
  display: inline;
}
.your-course-prof {
  border-right: 2px solid #999;
  padding-right: 2rem;
}
.course-attendance {
  padding-left: 2rem;
}
.course-details {
}
.availCourseItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.btn-add {
  background-color: white;
  border: 2px solid coral;
  padding: 1rem 2rem;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-add:hover {
  background-color: #e67248;
  border: 2px solid #e67248;
}
