@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&family=Tilt+Neon&display=swap");
/*-------------------------------------*/
/*------------Colors used--------------*/
/*-------------------------------------*/
/* buttons: #81b622 */

/*-------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
:root {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

