@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&family=Tilt+Neon&display=swap');

:root{
  font-family: 'Rubik', sans-serif;
  align-items: center;
  height: 100%;
}