@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&family=Tilt+Neon&display=swap');

:root{
  font-family: 'Rubik', sans-serif;
  height: 100%;
  background-image: linear-gradient(to bottom right,#e3eeff, #dbfbf1, #fecbc5);
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
}